<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>SoundCloud Connect</title>
	<script src="sc-connect.js"></script>
	<script>

	window.addEventListener('load',function(){
	  window.opener.SC.Connect.callback({username: "<%= @current_user.username %>"});
	},true);
	</script>
</head>
<body></body>
</html>
