%html
  %head
    %title "OAuth Access Token accepted"
    = content_for :javascript do 
      = "window.addEventListener('load',function(){ window.opener.OAuth.callback(#{@playlist.to_jspf if @playlist}); },true);"
  %body
    Everything is fine!
