#about-box.popup
  %a.close{ :href => "#close" }
    X
  %h1
    The Cloud Player
  %img#about-thumb{ :src => "/images/about-thumb.png", :height => "238", :alt => "Thumbnail", :width => "294" }
  %p
    The Cloud Player is a
    %strong
      web-based music player
    that let’s you...
  %ul#feature-list
    %li#feature-find
      %span
      %strong
        Find and play
      all tracks from SoundCloud
    %li#feature-save
      %span
      %strong
        Save playlists
      to your Google Account
    %li#feature-smart
      %span
      Make
      %strong
        smart playlists
      based on genre, BPM, etc
    %li#feature-share
      %span
      %strong
        Share
      your ready-made playlists with your friends
    %li#feature-collaborate
      %span
      %strong
        Collaborate
      in making the best playlists ever
  #built-by
    %p
      %img{ :src => "/images/erichenrik.png", :height => "51", :alt => "Henrik &amp; Eric", :width => "90" }
      Built by
      %a{ :href => "http://hinkeb.com" }
        Henrik Berggren
      \&amp;
      %a{ :href => "http://eric.wahlforss.com" }
        Eric Wahlforss
      using
      %a{ :href => "http://appengine.google.com" }
        Google App Engine
      ,
      %a{ :href => "http://python.org" }
        Python
      ,
      %a{ :href => "http://jquery.com" }
        jQuery
      ,
      %a{ :href => "http://www.schillmania.com/projects/soundmanager2/" }
        SoundManager 2
      ,
      %a{ :href => "http://www.everaldo.com/crystal/" }
        Crystal
      and the
      %a{ :href => "http://soundcloud.com/api" }
        SoundCloud API
      \. Also thanks to
      %a{ :href => "http://bassistance.de/" }
        Jörn
      for the back-button support. Do you want to contribute? Go ahead and
      %a{ :href => "http://github.com/hinke/the-cloud-player/tree/master" }
        fork from GitHub
      \!