#providers-box.popup
  %a.close{ :href => "#close" }
    X
  %h1
    Music Providers
  %p
    These are the music sources you have currently installed:
  %ul
    %li
      SoundCloud.com
    %li
      Hypem.com
    %li
      Citysounds.fm
    %li
      Forssmusic.com